#wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas:
        'nv nv nv'
        'as mn as2'
        'as mn as2'
}

#wrapper2 {
    background-color: rgb(22, 89, 67);
    overflow-y: scroll;
    padding-top: 70px;
    justify-content: center;
    height: 1000px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

body {
    margin: 0%;
}

.nav {
    grid-area: nv;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #e7f0da;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.as {
    grid-area: as;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}
div.img-side {
    justify-content: space-around;
    background-image: url("../img/animals/lizard.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 250px;
}

.as2 {
    grid-area: as2;
    background-color: salmon;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

h1 {
    color: aliceblue;
}


.mn {
    grid-area: mn;
    align-items: center;
    justify-content: center;
    background-image: url("../img/animals/lizard.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
}

div.meny-item {
    justify-content: center;
    margin: 10px;
    flex: 0 0 500px
}

div.personal-item {
    justify-content: space-around;
    margin: 10px;
    background-image: url("../img/animals/lizard.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 250px
}