#wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas:
        'nv nv nv'
        'as mn as2'
        'as mn as2'
}



.mn2 {
    padding-bottom: 20px;
    margin-top: 30px;
    grid-area: mn;
    background: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    display: flex;
}

.hd {
    grid-area: hd;
    background: rgba(35, 85, 138, 0.5);
    justify-content: center;
    display: flex;
}
html { 
    background: url("../img/animals/waterpokemonbgblur.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#wrapper2 {
    display: grid;
    padding-top: 70px;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        'hd hd hd'
        'mn mn mn'
}
#wrapper3 {
    display: grid;
    padding-top: 70px;
    height: 100vh;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas:
        'hd hd hd'
        'mn mn mn'
        'ft ft ft'
}

.ft {
    grid-area:ft;
    background: rgba(35, 85, 138, 0.5);
}

a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seriff;
    text-decoration: none;
    color: black;
    display: flex;
    flex: 4;
    height: 40px;
    background-color: rgb(210, 247, 235);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
a:hover {
    opacity: 0.5;
    cursor: pointer;
} 
body {
    margin: 0%;
}

.nav {
    grid-area: nv;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #1c2766;
    align-items: center;
   gap: 20px;
    display: flex;
}

.as {
    background-color: black;
    grid-area: as;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'img1'
    'img2'
    'img3'
}
.as2 {
    grid-area: as2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'img4'
    'img5'
    'img6'
}


.img-side1 {
    grid-area: img1;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-side2 {
    grid-area: img2;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-side3 {
    grid-area: img3;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-side4 {
    grid-area: img4;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-side5 {
    grid-area: img5;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.img-side6 {
    grid-area: img6;
    height: 100%;
    width: 100%;
    object-fit: fill;
}




h1 {
    color: aliceblue;
}


.mn {
    grid-area: mn;
    align-items: center;
    justify-content: center;
    background: transparent;
    display: flex;
}

div.meny-item {
    border-radius: 30px;
    padding: 10px;
    background: rgba(106, 178, 255, 0.7);
    justify-items: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    flex: 0 0 500px
}

div.personal-item {
    border-radius: 30px;
    background-color: #9aaafa;
    min-width: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 250px;
    display: flex;
    margin: auto;
}

.personal-image {
    margin: 20px;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

p {text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol {
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seriff;
    line-height: 30px;
}